/* Headers - Josefin --- Text - Titillium*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&family=Titillium+Web:wght@300;400;700&display=swap');

/* 
rgb(233, 213, 202)
rgb(130, 115, 151)
rgb(77, 76, 125)
rgb(54, 48, 98)

*/

* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0
}

a {
    color: unset;
    text-decoration: unset;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(54, 48, 98);
    color: rgb(233, 213, 202);
    font-size: 20px;
    /* font-weight: bold; */
    font-family: 'Titillium Web', sans-serif;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

.text-header {
    font-family: 'Josefin Sans', sans-serif;
}

.text-regular {
    font-family: 'Titillium Web', sans-serif;
}

/* navbar */

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 5px;
    /* position: sticky;
    top: 0;
    background-color: rgb(77, 76, 125); */
}

.nav-name {
    margin-right: auto;
    color: rgb(233, 213, 202);
    font-size: 55px;
    padding: 0px 5px;
}

.nav-links {
    display: flex;
    flex-direction: row;
}

.nav-link-div {
    padding: 15px 5px;
}

.nav-link {
    color: rgb(233, 213, 202);
    font-size: 25px;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-self: center;
    margin-top: 35px;
    width: 80%;
}

.img-round {
    border-radius: 55%;
    width: 200px;
    margin-bottom: 25px;
}

.header-about p {
    text-align: justify;
    font-size: 20px;
}

/* Bottom Nav */
.bottom-nav {
    position: fixed;
    bottom:-90px;
    width: 100%;
    color: rgb(54, 48, 98);
    font-weight: bold;
    background-color: rgb(233, 213, 202);
    border-radius: 50%;
    height: 140px;
    text-align: center;
}

.bottom-nav-email {
    margin-top: 10px;
}
