.about-main {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: space-between;
    /* width: 92%; */
}

.about-img {
    border-radius: 10%;
    width: 180px;
    align-self: flex-start;
    border: solid 2px var(--ter-text-color);
    /* background: var(--ter-text-color); */
}

.about-text {
    margin-right: 78px;
}

.about-text p {
    text-align: justify;
    margin-bottom: 25px;
}

.about-tech-list {
    max-height: 100px;
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 15px;
}

.about-tech-list li::marker {
    font-size: 13px;
    color: var(--ter-text-color);
}