.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-self: center;
    margin-top: 35px;
    width: 80%;
}

.img-round {
    border-radius: 55%;
    width: 200px;
    margin-bottom: 25px;
}

.header-about p {
    text-align: justify;
    font-size: 20px;
}