.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    /* height: 15vh; */
    top: 0;
    background-color: #002f49c9;
    width: 90%;
    /* box-shadow: 0px 3px 3px 0px #1D3557; */
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    min-width: 200px;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-menu-item {
    margin: 0px 20px;
    transition: color 0.4s;
}

.nav-menu-item:hover {
    color: var(--ter-text-color);
}

.menu-item-accent {
    color: var(--ter-text-color);
}

.nav-links {
    display: flex;
    flex-direction: row;
}

.nav-link-div {
    padding: 0px 5px;
    margin: 10px 0px;
}

.nav-link {
    color: var(--primary-text-color);
    font-size: 18px;
    transition: color 0.4s;
}

.nav-link:hover {
    color: var(--ter-text-color);
}