.general-section {
    /* height: calc(120vh - 60px); */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 65%;
    /* border: solid 1px var(--secondary-text-color); */
    margin-top: 50px;
}