.contato-box {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contato-text {
    margin-top: 10vh;
}

.email-button {
    border: 3px solid var(--ter-text-color);
    border-radius: 10px;
    padding: 10px 20px;
    margin: 30px 0px;
    align-self: center;
    margin-bottom: 30vh;
    margin-top: 10vh;
    color: var(--ter-text-color);
    transition: all 0.2s;
}

.email-button:hover {
    background-color: #fcc04948;
}

.contato-footer {
    margin-bottom: 30px;
    font-size: 16px;
}

.footer-link-accent {
    color: var(--ter-text-color);
}