.section-header {
    display: flex;
    align-self: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.text-header-accent {
    font-size: 30px;
    color: var(--ter-text-color);
}