.section-header {
    display: flex;
    align-self: flex-start;
    align-items: center;
    /* width: 50%; */
    margin: 10px 0px;
}

.text-header-accent {
    font-size: 30px;
    color: var(--ter-text-color);
}